.vetolaatikko {

}

#map { 
    position:absolute; 
    top:0; 
    bottom:0; 
    width:75%; 
    height:100%; 
    float:left;
}

#teksti { 
    position:absolute; bottom:0 
}

#tools {
    float:right; 
    text-align:center;
    vertical-align:center;
    margin:auto;
    width:25%;
}

.col-sm-12 { 
    padding:2em;
}

body {
    background-color: #0080FF;
}

.vetolaatikko ul{
   display: none; 
   position: relative;
   list-style-type: none;
   padding: 0;
   width: auto;
   border-radius: 5px;
}

.vetolaatikko ul li{
    margin: 0em;
    background: #333333;
    float: none;
}

.vetolaatikko:hover > ul {
    display: block;
}

.vetolaatikko p {
    width: 100%;
    display: inline-block;
    padding: 1em 1em;
    margin-bottom: 0em;
    color: #01DF3A;
    background: #182121;
    text-decoration:none;
    border-radius: 5px;
}

.vetolaatikko ul li button:hover {
    background-color: #01DF3A;
}

.vetolaatikko ul li button {
    display: block;
    color: #FFFFFF;
    background-color: #04B431;
    width: 100%;
    padding-right: 1em;
    padding-left: 1em;
    margin: 0em;
}
