.vetolaatikko {

}

.checkboxes li{
    display: block;
    float: left;
    width: 25%;
}

#map { 
    position:absolute; 
    top:0; 
    bottom:0; 
    width:75%; 
    height:100%; 
    float:left;
}

#teksti { 
    position:absolute; bottom:0 
}

#tools {
    position:relative;
    float:right; 
    text-align:center;
    vertical-align:center;
    margin:auto;
    width:25%;
}

.col-sm-12 { 
    padding:1.5em;
}

.form-control{
    min-width: 4em;
}

.dropdown-menu li:hover {
    background-color: #cccccc;
}
.dropdown-menu {
    min-width: 4em;
}

.dropdown {
    display:inline-block;
}

body {
    background-color: #0080FF;
}

.vetolaatikko ul{
   display: none; 
   position: relative;
   list-style-type: none;
   padding: 0;
   width: auto;
   border-radius: 5px;
   height: 40%;
   -moz-column-count: 4;
   -moz-column-gap: 1px;
   -webkit-column-count: 4;
   -webkit-cloumn-gap: 1px;
   column-count: 4;
   column-gap: 1px;
}

.vetolaatikko ul li{
    margin: 0px;
    background: #333333;
    padding: 0em;
}

.vetolaatikko:hover > ul {
    display: block;
}

.vetolaatikko p {
    width: 100%;
    display: inline-block;
    padding: 1em 1em;
    margin-bottom: 0em;
    color: #2E6DA4;
    background: #182121;
    text-decoration:none;
    border-radius: 5px;
}

//.vetolaatikko ul li button:hover {
//    background-color: #01DF3A;
//}

.vetolaatikko ul li button {
    display: float;
//    color: #FFFFFF;
//    background-color: #04B431;
    width: 100%;
    height: 100%;
    padding-right: 1em;
    padding-left: 1em;
    margin: 0em;
}
