<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Linkkien reitit</title>
	<!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" / >-->
	<link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-datetimepicker.min.css') }}"/>
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
	<script type="text/javascript">{% include "date.js" %}</script>
	<script type="text/javascript">{% include "moment.js" %}</script>
	<script type="text/javascript">{% include "bootstrap-datetimepicker.js" %}</script>
	<script type="text/javascript">{% include "fi.js" %}</script>
    </head>
    <body>
        <div class="container-fluid">
            <div id="maprow" class="row">
                <div id="map" class="col-sm-12">
                </div>
            </div>
        </div>
        <div class="container-fluid" id="tools">
            <div class="row">
                <div class="col-sm-12">
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Näytä näkyvät linjat</button>
            </div>
	    </div>
            <div class="row">
                <div class="col-sm-12">
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2">Tietoa</button>
            </div>
	    </div>
	    <div class="modal fade" id="myModal2" role="dialog">
	        <div class="modal-dialog">
		    <div class="modal-content">
		        <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal">&times;</button>
			    <h4 class="modal-title">Tietoa</h4>
			</div>
			<div class="modal-body">
			    <p>
			        Bussien sijaintitiedot perustuvat Jyväskylän kaupungin tarjoamiin tietoihin.
				Sijainnit ovat arvioita, todellinen sijainti voi olla muuta kuin kartalla näkyvä.
			    </p>
			    <p>
			        Versio: 0.6<br>
				Tekijät: Mikko Homanen, Kasimir Ilmonen, Mikko Kemppainen
			    </p>
			<div class="modal-footer">
			    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
			</div>
		    </div>
		</div>
	    </div>

	    <div class="modal fade" id="myModal" role="dialog">
	        <div class="modal-dialog">
		    <div class="modal-content">
		        <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal">&times;</button>
			    <h4 class="modal-title">Kartalla näytettävät linjat</h4>
			</div>
			<!--<div class="modal-body">-->
			    <div>
			        <ul class="checkboxes" id="routeList">
				</ul>
			    </div>
			    <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" onclick="piilotaReitit()">Poista valitut</button>
			    </div>
			<!--</div>-->
			
		    </div>
      
		</div>
	    </div>
	    <!--TODO aika, päivä tasaus ja koko -->

            <!--<div class="row">
                <div class="col-sm-12">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label for="time" id="aika">Aika:</label>
                            <input type="time" class="form-control" id="time2">
                        </div>
                    </form>
                </div>
	    </div> --> 
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker1">
                            <input type="text" id="time" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>  
                <script type="text/javascript">
		$(function () {
		$("#datetimepicker1").datetimepicker({
		    locale: 'fi'
		    });
		});
                </script>
            </div>
            <div class="panel panel-default">
                <div class="panel-body" id="programtime">
                    00:00:00
                </div>
            </div>
	    <div class="row">
	        <button type="button" class="btn btn-info" onclick="paivitaAika()">
		    Päivitä aika
		</button>
	    </div>
            <div class="row">
                <button type"button" class="btn btn-info" onclick="tyhjennaReitit()">
                    Tyhjennä
                </button>
            </div>
            <div class="row">
                <div class="vetolaatikko">
                    <p>Valitse linja</p>
                    <ul>
		        {% for item in lista %}
                        <li>
                            <button class="btn btn-primary" type="button" onclick="toggleReitti('{{item}}')">{{item}}</button>
                        </li>
			{% else %}
                        <li>
                            <button class="btn btn-primary" type="button" onclick="toggleReitti('27')">27</button>
                        </li>
			{% endfor %}
                    </ul>
                </div>
            </div>
        </div>
	
	<!-- <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script> -->
	<!-- <script src="main.js"></script>-->
        <script type="text/javascript">{% include "main.js" %}</script>
        <script type="text/javascript">{% include "test.js" %}</script>
    </body>
</html>
